@-webkit-keyframes rotateInDownLeft {
  from { -webkit-transform-origin: left bottom; -webkit-transform: rotate3d(0, 0, 1, -45deg); opacity: 0; }
  100% { -webkit-transform-origin: left bottom; -webkit-transform: none; opacity: 1; }
}
@keyframes rotateInDownLeft {
  from { transform-origin: left bottom; transform: rotate3d(0, 0, 1, -45deg); opacity: 0; }
  100% { transform-origin: left bottom; transform: none; opacity: 1; }
}

.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}
