@-webkit-keyframes fadeInUp {
	from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); }
	100% { opacity: 1; -webkit-transform: none; }
}
@keyframes fadeInUp {
	from { opacity: 0; transform: translate3d(0, 100%, 0); }
	100% { opacity: 1; transform: none; }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
