@-webkit-keyframes slideInDown {
	from { -webkit-transform: translate3d(0, -100%, 0); visibility: visible; }
	100% { -webkit-transform: translate3d(0, 0, 0); }
}
@keyframes slideInDown {
	from { transform: translate3d(0, -100%, 0); visibility: visible; }
	100% { transform: translate3d(0, 0, 0); }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
