@-webkit-keyframes slideInRight {
	from { -webkit-transform: translate3d(100%, 0, 0); visibility: visible; }
	100% { -webkit-transform: translate3d(0, 0, 0); }
}
@keyframes slideInRight {
	from { transform: translate3d(100%, 0, 0); visibility: visible; }
	100% { transform: translate3d(0, 0, 0); }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
