@-webkit-keyframes flash {
	from, 50%, 100% { opacity: 1; }
	25%, 75% { opacity: 0; }
}
@keyframes flash {
	from, 50%, 100% { opacity: 1; }
	25%, 75% { opacity: 0; }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
