/* CSS GUIDE - 全局公用_基础元素
================================================================
 *
 * 1. CSS RESET
 * 2. 公用全局公用CSS;
 * 3. 公用基础样式;
 * 4. 公用皮肤;
 * 
================================================================*/





/* 1 CSS RESET
================================================================*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,header,footer,nav,article,section{margin:0;padding:0}
fieldset,img,form{border:0; vertical-align:top}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
header,footer,nav,article,section,aside{display:block}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
strong{font-weight:800}

html{ overflow-y:scroll;}
body{ font:12px/1.75 Helvetica,Arial,sans-serif; overflow-x:hidden}

table{ border-collapse:collapse;border-spacing:0}

input,textarea,select,button{ border:none; font:12px/1.75 Helvetica,Arial,sans-serif; font-weight:inherit; outline:none}
button{ white-space:nowrap; vertical-align:middle; cursor:pointer}
textarea{ resize:none; overflow-y:auto;}

sup{ vertical-align:text-top}
sub{ vertical-align:text-bottom}

a{ text-decoration:none; outline:none; cursor:pointer;}
a:hover{ text-decoration:underline}
div[tabindex]:focus,span[tabindex]:focus,a[tabindex]:focus{ outline:#fdab2b 1px solid; outline-radius:5px;}

video,
embed{ vertical-align:top; max-width:100%}
video{ background:#f0f0f0;}

select::-ms-expand { display: none;}





/* 2 公用全局公用CSS
================================================================*/

/* 布局
----------------------------------------------------------------*/

/* 浮动 */
.left{float:left}
.right{float:right}
/* 浮动 */
.clear:after,
.container:after,
.SC_hd:after{content:'.';clear:both;display:block;height:0;visibility:hidden;line-height:0}
.clear,
.container,
.SC_hd{zoom:1}

/* DISPLAY */
.dis_b{ display:block; *zoom:1;}
.dis_in{ display:inline}
.dis_inb{ display:inline-block; *display:inline; *zoom:1}
.vis_on{ visibility: visible;}
.vis_off{ visibility: hidden;}

/* 边距 */
.mt5{ margin-top:5px}
.mr5{ margin-right:5px}
.mb5{ margin-bottom:5px}
.ml5{ margin-left:5px}
.mt10{ margin-top:10px}
.mr10{ margin-right:10px}
.mb10{ margin-bottom:10px}
.ml10{ margin-left:10px}
.mt15{ margin-top:15px}
.mr15{ margin-right:15px}
.mb15{ margin-bottom:15px}
.ml15{ margin-left:15px}
.mt20{ margin-top:20px}
.mr20{ margin-right:20px}
.mb20{ margin-bottom:20px}
.ml20{ margin-left:20px}

.pt5{ padding-top:5px}
.pr5{ padding-right:5px}
.pb5{ padding-bottom:5px}
.pl5{ padding-left:5px}
.pt10{ padding-top:10px}
.pr10{ padding-right:10px}
.pb10{ padding-bottom:10px}
.pl10{ padding-left:10px}
.pt15{ padding-top:15px}
.pr15{ padding-right:15px}
.pb15{ padding-bottom:15px}
.pl15{ padding-left:15px}
.pt20{ padding-top:20px}
.pr20{ padding-right:20px}
.pb20{ padding-bottom:20px}
.pl20{ padding-left:20px}

body .mt0{ margin-top:0!important}
body .mr0{ margin-right:0!important}
body .mb0{ margin-bottom:0!important}
body .ml0{ margin-left:0!important}
body .pt0{ padding-top:0!important}
body .pr0{ padding-right:0!important}
body .pb0{ padding-bottom:0!important}
body .pl0{ padding-left:0!important}

/* 对齐 */
.vt_t{ vertical-align:top}
.vt_m{ vertical-align:middle}
.vt_b{ vertical-align:bottom}
.vt_bl{ vertical-align:baseline;}

/* 文字
----------------------------------------------------------------*/

/* 字体 */
.tx_song{font-family:SimSun,Helvetica}
.tx_yh{font-family:Helvetica,Microsoft Yahei,Helvetica,sans-serif}
.tx_ar{ font-family:Arial}
.tx_ss{ font-family:sans-serif}
.tx_code{ font-family:Courier New}

/* 字号 */
.tx_-2{ font-size:.75em}
.tx_-1{ font-size:.875em}
.tx_0{ font-size:1em}
.tx_1{ font-size:1.125em}
.tx_2{ font-size:1.25em}

.tx_12{ font-size:12px;}
.tx_14{ font-size:14px;}
.tx_16{ font-size:16px;}
.tx_18{ font-size:18px;}
.tx_20{ font-size:20px;}
.tx_22{ font-size:22px;}
.tx_24{ font-size:24px;}
.tx_26{ font-size:26px;}
.tx_30{ font-size:30px;}

/* 字重 */
.tx_b{ font-weight: 800}
.tx_n{ font-weight:normal}

/* 字体样式 */
.tx_udl{ text-decoration:underline}
.tx_del{ text-decoration:line-through}

/* 对齐 */
.tx_l{ text-align:left}
.tx_c{ text-align:center}
.tx_r{ text-align:right}

/* 折行 */
.tx_br{ word-wrap:break-word; word-break:break-all}
.tx_unbr,
.tx_nbr{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap}

/* 基础边框
----------------------------------------------------------------*/

body .bor0{ border:none!important}
.bor1{ border-width:1px; border-style:solid}

/* 小箭头
----------------------------------------------------------------*/

.a,.a u{display:inline-block;width:0px;height:0px;line-height:0;font-size:0}
.a_t,.a_t u{border-top-style:solid;border-bottom:dashed transparent;border-right:dashed transparent;border-left:dashed transparent}
.a_r,.a_r u{border-right-style:solid;border-top:dashed transparent;border-bottom:dashed transparent;border-left:dashed transparent}
.a_b,.a_b u{border-bottom-style:solid;border-top:dashed transparent;border-right:dashed transparent;border-left:dashed transparent}
.a_l,.a_l u{border-left-style:solid;border-top:dashed transparent;border-bottom:dashed transparent;border-right:dashed transparent}
.a3{border-width:3px 4px 3px 3px;border-width:3px 3px 3px 2px\9}
.a3_b{border-width:3px 3px 4px 3px\9;}
.a4{border-width:4px 5px 4px 4px;border-width:4px 4px 4px 3px\9}
.a4_b{border-width:4px 5px 4px 4px;border-width:5px 5px 5px 4px\9}
.a5{border-width:5px 6px 5px 5px;border-width:5px 5px 5px 4px\9}
.a5_b{border-width:5px 6px 5px 5px;border-width:6px 6px 6px 5px\9}
.a u{_position:absolute;color:#fff}
.a_t u{border-width:3px 3px 3px 2px\9;margin:-5px 0 0 -3px;margin:-5px 0 0 -2px\9}
.a_r u{border-width:4px;margin:-4px 0 0 -2px;*margin:-4px 0 0 -2px}
.a_b u{border-width:3px 3px 4px 3px\9;margin:-1px 0 0 -3px}
.a_l u{border-width:3px;margin:-3px 0 0 -5px;margin:-3px 0 0 -4px\9}

/* 分隔线
----------------------------------------------------------------*/

.hr1{ height:0; font-size:0; border:0; border-bottom:#333 1px solid;}

/* 其他
----------------------------------------------------------------*/

.cur_auto{ cursor: auto!important;}
.cur_default{ cursor: default!important;}
.cur_pointer{ cursor:pointer!important;}

/* 图片和图标
----------------------------------------------------------------*/

.ico16,
.ico25,
.ico36,
.ico50,
.ic,
.vip,
.ico_cvip,
.ico_master_star{ display:inline-block; *display:inline; *zoom:1; background-repeat:no-repeat; font-size:0; vertical-align:middle; overflow:hidden}

.ico16,
.ic,
.vip,
.ico_cvip,
.ico_master_star{ width:16px; height:16px}
.ico25{ width:25px; height:25px}
.ico36{ width:36px; height:36px}
.ico50{ width:50px; height:50px}

.ico_fo,
.ic,
.mv_logo .logo,
.vip,
.ico_cvip,
.ico_master_star,
.topnav .logo .c1{ background-repeat:no-repeat;}

/* ico16 */

/* loading */
.loading{ background:url(./images/loading.gif) 50% 50% no-repeat; background-size:32px;}





/* 3 公用基础样式
================================================================*/

/* 表单用表格框架
----------------------------------------------------------------*/

.tb_form{ padding:15px;}
.tb_form table{ width:100%;}
.tb_form th,
.tb_form td{ padding:3px 0; vertical-align:middle;}
.tb_form th{ width:130px; padding-top:10px; font-size:16px; font-family:Helvetica,Microsoft Yahei,sans-serif; vertical-align:top;}
.tb_form td{ font-size:14px; font-family:Helvetica,Microsoft Yahei,sans-serif}

/* 文本框和文本域
----------------------------------------------------------------*/

.inputTxt{ position:relative; background:none; display:inline-block;}

.inputTxt input,
.inputTxt textarea,
.inputTxt select{ width:100%; height:34px; padding:5px 10px; color:#999; border:#333 1px solid; background:#333; font:16px/1.5 Helvetica,Microsoft Yahei,sans-serif; border-radius:3px; vertical-align:middle;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
}
.inputTxt select{ padding-right:30px}

.inputTxt input:focus,
.inputTxt textarea:focus,
.inputTxt select:focus{ background-color:#111; border-color:#fdab2b}
.inputRange input[type=range]:focus::-webkit-slider-thumb{ background-color:#fdab2b}
.inputCur input,
.inputCur textarea,
.inputCur select{ border-color:#ff8903}
.inputTxt input[disabled="disabled"],
.inputTxt select[disabled="disabled"]{ background-color:#666; border-color:#666; cursor:not-allowed;}

.inputTxt .arr{ position:absolute; right:10px; top:50%; margin-top:-4px; border-width:8px 5px 0; border-color:#999 transparent transparent transparent; border-style:solid dashed dashed dashed; pointer-events:none;}

.inputCheck{ display:inline-block; vertical-align:middle; cursor:pointer;}
.inputCheck input{ vertical-align:middle}
.inputCheck input[type="radio"],
.inputCheck input[type="checkbox"]{ width:20px; height:20px;
	background:url(../../img/input_2x_151027.png) 0 0 no-repeat;
	background-image:-webkit-image-set(url(../../img/input_151027.png) 1x,url(../../img/input_2x_151027.png) 2x);
	background-size:83px 20px;
}
.inputCheck input[type="radio"]:checked{ background-position:-21px 0}
.inputCheck input[type="checkbox"]{ background-position:-42px 0}
.inputCheck input[type="checkbox"]:checked{ background-position:-63px 0}

.inputTxt .helptxt{ position:absolute; top:0; left:100%; margin-left:10px; width:240px; padding:10px; box-sizing:border-box; background-color:#111; border:#111 1px solid; z-index:1; border-radius:3px; font-size:12px}
.inputTxt .helptxt:before{ content:''; position:absolute; left:-7px; top:10px; width:10px; height:10px; border:#111 1px solid; background-color:#111; border-right:none; border-bottom:none;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.inputRange input{ width:100%;
  -webkit-appearance: none;
}
.inputRange input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
	background:#333;
	height:2px;
}
.inputRange input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; background:#333;
	width:20px; height:20px; margin-top:-9px; border-radius:3px;

}
.inputRange input[type=range]::-moz-slider-runnable-track {
  -webkit-appearance: none;
	background:#333;
	height:2px;
}
.inputRange input[type=range]::-moz-slider-thumb {
  -webkit-appearance: none; background:#333;
	width:20px; height:20px; margin-top:-9px; border-radius:3px;

}
.inputRange input[type=range]::-o-slider-runnable-track {
  -webkit-appearance: none;
	background:#333;
	height:2px;
}
.inputRange input[type=range]::-o-slider-thumb {
  -webkit-appearance: none; background:#333;
	width:20px; height:20px; margin-top:-9px; border-radius:3px;

}
.inputRange input[type=range]::-ms-slider-runnable-track {
  -webkit-appearance: none;
	background:#333;
	height:2px;
}
.inputRange input[type=range]::-ms-slider-thumb {
  -webkit-appearance: none; background:#333;
	width:20px; height:20px; margin-top:-9px; border-radius:3px;

}
.inputRange input[type=range]::slider-runnable-track {
  -webkit-appearance: none;
	background:#333;
	height:2px;
}
.inputRange input[type=range]::slider-thumb {
  -webkit-appearance: none; background:#333;
	width:20px; height:20px; margin-top:-9px; border-radius:3px;

}

/* 下拉框
----------------------------------------------------------------*/

.select1{ padding:3px 5px; border:#cecdcd 1px solid; vertical-align:middle}

/* 常规单选框和复选框
----------------------------------------------------------------*/

.check1{margin:-3px 4px 0 0!important;*margin:0 1px 0 -3px!important;vertical-align:middle!important}

/* 表单提示文字
----------------------------------------------------------------*/

.inputTail{ line-height:1.75em}
.inputTail .c{ position:absolute; padding:4px 5px;}

/* 按钮
----------------------------------------------------------------*/

/* 按钮 */
.btn{ display:block;}
.btn a,
.btn input,
.btn button{ display:block; width:100%; padding-left:15px; padding-right:15px; border:none; border-radius:3px; line-height:1.5em; text-align:center; cursor:pointer; font-family:Microsoft Yahei,Simsun,sans-serif;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;
}
.btn a:focus,
.btn input:focus,
.btn button:focus{ outline:none; border-color:#fdab2b!important;}

.e_btn_inb{ display:inline-block; vertical-align:middle}
.e_btn_inb a,
.e_btn_inb input,
.e_btn_inb button{ display:inline-block; width:auto; vertical-align:top}

.btn1{}
.btn1 a,
.btn1 a:hover,
.btn1 a:active,
.btn1 input,
.btn1 button{ padding-top:8px; padding-bottom:8px; font-size:16px; background:#ff8903; border:#ff8903 1px solid; color:#fff; text-decoration:none}

.btn1 a:active,
.btn1 input:active,
.btn1 button:active{
	-webkit-filter:brightness(.8);
	filter:brightness(.8);
}

.btn2 a,
.btn2 a:hover,
.btn2 a:active,
.btn2 input,
.btn2 button{ padding-top:8px; padding-bottom:8px; font-size:16px; background:#fdab2b; border:#fdab2b 1px solid; color:#fff; text-decoration:none}

.btn2 a:active,
.btn2 input:active,
.btn2 button:active{
	-webkit-filter:brightness(.8);
	filter:brightness(.8);
}

.btn3 a,
.btn3 a:hover,
.btn3 a:active,
.btn3 input,
.btn3 button{ padding-top:8px; padding-bottom:8px; font-size:16px; background:#3a4148; border:#3a4148 1px solid; color:#d4d4d4; text-decoration:none}

.btn3 a:active,
.btn3 input:active,
.btn3 button:active{
	-webkit-filter:brightness(.8);
	filter:brightness(.8);
}

.e_btn_s a,
.e_btn_s a:hover,
.e_btn_s a:active,
.e_btn_s input,
.e_btn_s button{ padding-top:6px; padding-bottom:6px; font-size:12px; font-family:Helvetica,Arial,sans-serif}

.btn input[disabled="disabled"],
.btn button[disabled="disabled"]{ background:#3a4148; border:#3a4148 1px solid; cursor:not-allowed;}
.btn input[disabled="disabled"]:active,
.btn button[disabled="disabled"]:active{
	-webkit-filter:brightness(1);
	filter:brightness(1);
}

/* 关闭
----------------------------------------------------------------*/

.g_close_btn{ position: absolute; top: 10px; right: 10px; width: 13px; height: 13px; background-color:#f1f1f1; border:1px solid #e0e0e0;}
.g_close_btn span{ display: block; width: 11px; height: 11px; line-height: 12px; margin:1px; text-align:center; font-size: 12px; font-weight: bold; font-family:Simsun; background-color: #fff; color:#c6c6c6; cursor:pointer}
.g_close_btn:hover{text-decoration:none;}
.g_close_btn:hover span{ background-color:#d8d8d8; color:#fff}

/* 提示
----------------------------------------------------------------*/

.noticebar .bd{ position:relative; background:#111; border-radius:3px;}
.noticebar a{ color:#fff}





/* 4 公用皮肤
================================================================*/

/* 文字色
----------------------------------------------------------------*/

/* 默认文字色 */
.c_t0,body,.SC_hd .tit_tx{ color:#d4d4d4}
/* 强文字色 */
.c_t1{ color:#fff}
/* 强文字色2 */
.c_t2{ color:#ff8903}
/* 弱文字色 */
.c_t3{ color:#999;}
/* 弱文字色2 */
.c_t4{ color:#666;}
/* 白色 */
.c_tw{ color:#fff;}

/* 链接色
----------------------------------------------------------------*/

/* 默认链接色 */
a.c_a0,a{ color:#999;}
a.c_a0:active,a:active{ color:#999}
/* 强链接色 */
a.c_a1{ color:#999}
a.c_a1:active{ color:#999}
/* 弱链接色 */
a.c_a2{ color:#999}
a.c_a2:active{ color:#999}

/* 表单元素色
----------------------------------------------------------------*/

:root ::-webkit-input-placeholder{ color:#666;}
:root :-webkit-input-placeholder{ color:#666;}

/* border
----------------------------------------------------------------*/

.c_bor1{ border-color:#ccc}/* 两栏结构左栏模块边框色 */
.c_bor2{ border-color:#ddd}/* 两栏结构右栏模块边框色 */
.c_bor3{ border-color:#d9d9d9}/* 通栏结构边框色，比如微视搜索顶部 */

/* background
----------------------------------------------------------------*/

/* 背景色 */
.c_bg0,body{ background:#111 url(./images/grid.png); background-size:100px 100px; background-attachment:fixed; background-position:center;}/* 默认页面背景色 */
.c_bg1{ background-color:#fff;}/* 白色 */
.c_bg2{ background-color:#ebebeb}/* 一些通栏模块的背景色，比如微视搜索顶部 */
.c_bg3{ background-color:#fafafa}
.c_bg4{ background-color:#f4f4f4}

/* 底纹 */
.img_bg1{ background:#d2d2d2 url(http://mat1.gtimg.com/www/mb/images/mv/bgpattern1.jpg);}
.img_bg2{ background:#f1f1f1 url(http://mat1.gtimg.com/www/mb/images/weishi/bgpattern2.jpg);}
.img_bg3,.img_bg3 .inner{ background:#000 url(./images/grid.png); background-size:100px 100px; background-attachment:fixed;}
.img_bg4,.img_bg4 .inner{ background:#010b13 url(./images/space.jpg) center center no-repeat; background-size:cover; background-attachment:fixed;}

.nobg{ background:none;}




/* 5 图标
================================================================*/

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-z1zby0');
	src:url('fonts/icomoon.eot?#iefix-z1zby0') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-z1zby0') format('truetype'),
		url('fonts/icomoon.woff?-z1zby0') format('woff'),
		url('fonts/icomoon.svg?-z1zby0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-copy:before {
	content: "\e600";
}
.icon-history:before {
	content: "\e60f";
}
.icon-clock:before {
	content: "\e60b";
}
.icon-lock:before {
	content: "\e606";
}
.icon-unlocked:before {
	content: "\e607";
}
.icon-equalizer:before {
	content: "\e60c";
}
.icon-rocket:before {
	content: "\e610";
}
.icon-bin:before {
	content: "\e601";
}
.icon-warning:before {
	content: "\e608";
}
.icon-question:before {
	content: "\e60d";
}
.icon-plus:before {
	content: "\e602";
}
.icon-checkmark:before {
	content: "\e60a";
}
.icon-play3:before {
	content: "\e603";
}
.icon-pause2:before {
	content: "\e605";
}
.icon-stop2:before {
	content: "\e604";
}
.icon-infinite:before {
	content: "\e609";
}
.icon-pilcrow:before {
	content: "\e60e";
}
