@-webkit-keyframes slideOutDown {
	from { -webkit-transform: translate3d(0, 0, 0); }
	100% { visibility: hidden; -webkit-transform: translate3d(0, 100%, 0); }
}
@keyframes slideOutDown {
	from { transform: translate3d(0, 0, 0); }
	100% { visibility: hidden; transform: translate3d(0, 100%, 0); }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}
